{% extends 'base.html.twig' %}

{% block title %}Edit Drivers{% endblock %}

{% block body %}
    <h1>Edit Drivers</h1>

    {{ include('drivers_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_drivers_crud_index') }}">back to list</a>

    {{ include('drivers_crud/_delete_form.html.twig') }}
{% endblock %}
